<footer class="f1-footer">
   <img src="../../assets/images/f1_logo.svg" class="f1-logo"/>
   <h4>Formula 1’s inaugural season featured seven rounds, spread out from May to September and predominantly
   staged in Europe (the exception being the Indianapolis 500 in the United States, which most F1 drivers sat out).
   
   New European events arrived as F1 developed, with the following decades bringing adventures to South America, North
   America, Africa, Asia, Australia and, most recently, the Middle East – well and truly putting the ‘world’ in world
   championship.</h4>
</footer>