<div class="driver-container">
    <img class="driver-image"
        src="{{driver.driverMainImage}}" />
    <div class="driver-info-container" >
        <div class="driver-info">
            <span class="stat-key">Driver Name</span>
            <span class="stat-value">{{driver.driverName}}</span>
        </div>
        <div class="driver-info">
            <span class="stat-key">Driver Number</span>
            <span class="stat-value">{{driver.driverNumber}}</span>
        </div>
        <div class="driver-info">
            <span class="stat-key">Driver Country</span>
            <span class="stat-value">{{driver.country}}</span>
        </div>
        <div class="driver-info">
            <span class="stat-key">Podiums</span>
            <span class="stat-value">{{driver.podiums}}</span>
        </div>
        <div class="driver-info">
            <span class="stat-key">Points</span>
            <span class="stat-value">{{driver.points}}</span>
        </div>
        <div class="driver-info">
            <span class="stat-key">Grands Prix Entered</span>
            <span class="stat-value">{{driver.grandsPrixEntered}}</span>
        </div>
        <div class="driver-info">
            <span class="stat-key">World Championships</span>
            <span class="stat-value">{{driver.worldChampionships}}</span>
        </div>
        <div class="submit-container">
            <input type="button" value="Back" class="button" (click)="back()" />
            <input *ngIf="isLogedin" type="submit" value="Edit" class="button" (click)="editDriver()" />
            <input *ngIf="isLogedin" type="button" value="Delete" class="button delete-button"
                (click)="deleteDriver()" />
        </div>
    </div>
</div>