<div class="nav-wrapper">
    <div class="dd">
        <img (click)="onHome()" src="https://www.formula1.com/etc/designs/fom-website/images/f1_global_footer_logo.svg"
            class="f1-logo" />

        <span class="nav-span" routerLink="/teams">Teams</span>
        <div *ngIf="isLogedin">
            <span class="nav-span" routerLink="/add-team">Add Team</span>
        </div>
    </div>
    <div *ngIf="!isLogedin" class="btn-div">
        <span class="button-span" routerLink="/register">SIGN IN</span>
    </div>
    <div *ngIf="isLogedin">
        <span class="nav-span" style="margin-right: 2rem;" (click)="logout()">Loged out</span>
    </div>
</div>