<div class="teams-wrapper">
    <div class="header-wrapper">
        <div class="header-border">
            <h1 class="header-h1">F1 Teams 2023</h1>
        </div>
    </div>
    <h3>Discover everything you need to know about this year's Formula 1 teams - drivers, podium finishes, points earned
        and
        championship titles.</h3>
    <div *ngFor="let team of teams" class="team-card" routerLink="/teams/{{team._id}}">
        <div class="row">
            <div class="card-content">
                <h2>
                    {{team.teamName}}
                </h2>
                <h2>
                    Team Cheif: {{team.teamCheif}}
                </h2>
                <div class="driver-section">
                    <ng-container *ngFor="let driver of spliceDrivers(team.drivers) ">
                        <div class="driver-wrapper" routerLink="/teams/{{team._id}}/drivers/{{driver._id}}">
                            <h3>
                                {{driver.driverName}}
                            </h3>
                            <img class="driver-image" src="{{driver.driverImage}}"/>
                        </div>
                    </ng-container>
                </div>
            </div>
            <img
                class="car-image"
                src="{{team.carImage}}" />
        </div>
    </div>
    <div class="next-previus-container">
    <div *ngIf="offset > 0" class="previous-button" (click)="previousTeam()">&#60;</div>
    <div *ngIf="offset < numberOfTeams-4 && numberOfTeams > 4" class="previous-button" (click)="nextTeam()">></div>

    </div>

</div>