<div class="home-container">
    <div class="home-header">
        <h1 class="home-h1">Driver Standings</h1>
    </div>
    <div class="list">
        <ul class="top-drivers">
            <li>
                <div class="test">
                    <span class="position">1</span>
                    <span class="team-color"></span>
                    <span class="driver-name">Max Verstabin</span>
                    <span class="team-name">Red Bull Racing</span>
                    <span class="points">170 PTS</span>
                </div>

            </li>
            <li>
                <div class="test">
                    <span class="position">1</span>
                    <span class="team-color"></span>
                    <span class="driver-name">Max Verstabin</span>
                    <span class="team-name">Red Bull Racing</span>
                    <span class="points">170 PTS</span>
                </div>

            </li>
            <li>
                <div class="test">
                    <span class="position">1</span>
                    <span class="team-color"></span>
                    <span class="driver-name">Max Verstabin</span>
                    <span class="team-name">Red Bull Racing</span>
                    <span class="points">170 PTS</span>
                </div>

            </li>
        </ul>
    </div>

</div>