    <label>
        Team Name:
    </label>
    <input id="name" type="text" [formControl]="teamName"/>
    <br />
    <label>
        Team Cheif:
    </label>
    <input />
        <br />

    <label>
        Power Unit:
    </label>
    <input />
        <br />

    <label>
        First Team Entry:
    </label>
    <input />
        <br />

    <label>
        World Champions:
    </label>
    <input />
        <br />

    <label>
        Pole Posiotion:
    </label>
    <input />
        <br />

    <label>
        Fastest Laps:
    </label>
    <input />
        <br />
<button type="button" (click)="updateName()">Add Team</button>