<div class="card-container">
    <div class="register-card">
        <h1 class="header">Add a new Team!</h1>
        <form (ngSubmit)="onAdd()" class="signin-form">
            <label>
                Team Name
            </label>
            <input class="input" placeholder="Team Name" type="text" id="teamName" />
            <label>
                Team Cheif:
            </label>
            <input class="input" placeholder="Team Cheif" type="text" id="teamCheif" />
            <label>
                Power Unit:
            </label>
            <input class="input" placeholder="Power Unit" type="number" id="powerUnit" />
            <label>
                First Team Entry:
            </label>
            <input class="input" placeholder="First Team Entry" type="number" id="firstTeamEntry" />
            <label>
                World Champions:
            </label>
            <input class="input" placeholder="World Champions" type="number" id="worldChampions" />
            <label>
                Pole Posiotion
            </label>
            <input class="input" placeholder="Pole Posiotion" type="number" id="polePosiotion" />
            <label>
                Fastest Laps
            </label>
            <input class="input" placeholder="Fastest Laps" type="number" id="fastestLaps" />
            <input type="submit" value="Next" class="button" />
        </form>
    </div>
</div>