<div class="second-nav">
    <span class="header-span" [ngStyle]="{'borderBottom': isLogin ? '3px solid #e00' : 'none'}" (click)="signIn()">Sign in</span>
    <span class="header-span" [ngStyle]="{'borderBottom': isLogin? 'none' :'3px solid #e00'}" (click)="register()">Register</span>
</div>

<div class="card-container">
    <div *ngIf="isLogin">
        <div class="register-card">
            <h1 class="header">Sign in</h1>

            <form (ngSubmit)="onLogin()" class="signin-form">
                <label>
                    Email address
                </label>
                <input class="input" placeholder="Email address" type="text" id="email" [formControl]="email" />
                <label>
                    Password:
                </label>
                <input class="input" placeholder="Password" type="password" id="password" [formControl]="password" />
                <input type="submit" value="Sign in" (click)="onLogin" class="button" />
            </form>
        </div>
    </div>
    <div *ngIf="!isLogin">
        <div class="register-card">
            <h1 class="header">CREATE ACCOUNT</h1>

            <form (ngSubmit)="onLogin()" class="signin-form">
                <div>
                    <label>
                        First name
                    </label>
                    <input class="input" placeholder="First name" type="text" id="firstName" [formControl]="firstName" />
                    <label>
                        Last name
                    </label>
                    <input class="input" placeholder="Last name" type="text" id="lastName" [formControl]="lastName" />
                </div>
                <label>
                    Email address
                </label>
                <input class="input" placeholder="Email address" type="text" id="email2" [formControl]="email2" />
                <label>
                    Password:
                </label>
                <input class="input" placeholder="Password" type="password" id="password2" [formControl]="password2" />
                <input type="submit" value="Register" (click)="onLogin" class="button" />
            </form>
        </div>
    </div>

</div>